body{
    display: block;
  .main{
    display: flex;
    margin: 15px;

    .background {
        width: 100%;
        flex: 1;
    }

    .title {
        position: absolute;
        top: 50%;
        left: 40%;
        color: white;
        font-size: xxx-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
      }
  }

  header {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
 
  .logo {
    height: 100px;
  }

  .social {
    display: flex;
    flex: 1;
    gap: 8px;
    justify-content: center;

    .social-icon {
        width:24px;
        height:24px;
    }
  }
}
}
